/* konténerek színnel megjelölése:
.profile-card{
  background-color: hsla(60, 100%, 50%, .4);
}
.head, .content{
  background-color:  rgba(54, 201, 44, 0.9);
}
.profile-image, .name-headline, .about, .links{
    background-color: rgba(135, 64, 192, 0.9);
}
*/

/*CSS Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

/*pozicionálás*/
.profile-card{
  width: 480px;
  max-width: calc(100vw - 10px);
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.head, .links{
  text-align: center;
}
.head, .content{
  width: 90%;
  margin: 0 auto;
}
img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
.profile-image{
  margin-top: -60px;
}

/*contact links*/
ul{
  list-style-type: none;
}
li{
  display: inline;
}
.head, .about{
  margin-bottom: 10%;
}
.content{
  padding: 5% 4%;
  font-size: 18px;
}

/*háttérkép*/
body{
  background: url("https://www.banfflakelouise.com/sites/default/files/styles/l_1600_12x6/public/hiking_sentinel_pass_jake_dyson_2_horizontal.jpg?itok=jsU6BajR") no-repeat center center fixed;
  background-size: cover;
}
.profile-card{
  background-color: hsla(0, 0%, 100%, .5);
  border-radius: 4px;
  box-shadow: hsla(0, 0%, 0%, .8) 10px 10px 80px;
}
img{
  padding: 1px;
  background-color: #666;
  filter: grayscale(50%);
}
.content{
  border-top: 1px solid hsla(0, 0%, 30%, .8);
}
img:hover{
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: grayscale(20%);
}

/*szöveg kinézete*/
body{
  font-family:  Verdana, Helvetica, Arial;
  letter-spacing: .020em;
  color: rgba(43, 53, 47, 0.9);
}
h1{
  text-transform: uppercase;
}
.social-icon{
  color: rgba(43, 53, 47, 0.9);
}
#place{
  font-size: 18px 
}
h1{
  font-size: 20px;
  color: black;
}
h2{
  font-size: 17px;
}
h3{
  font-size: 16px;
}



