body {
  background-color: #ffff;
}

.container {
  width: 95%;
  max-width: 600px;
  height: calc(100vh - 40px);
  margin: 20px auto;
  background-color: #fff;
  position: relative;
  font-family: verdana, sans-serif, arial;
  color: white;
}

.box {
  position: absolute;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: hsla(2, 95%, 51%, .85);
}

#box-01 {
  left: 0;
  right: 0;
}

#box-02 {
  top: 100px;
  left: 0;
  width: 65%;
}

#box-03 {
  top: 100px;
  right: 0;
  width: 30%;
}

#box-04 {
  bottom: 70px;
  width: 100%;
}















