img {
  width: 250px;
  height: 250px;
}
#second_paragraph {
  background-color: blue;
  color: white;
}
.general_paragraph {
  color: blue;
}

p::first-letter {
  font-family: "times new roman";
  font-size: 32px;
}